* {
    font-family: 'Consolas', 'Courier New', monospace;
}

.nav-panel {
  text-align: center;
  padding: 0.5em;
  display: flex;
}

/* https://www.geeksforgeeks.org/how-to-center-a-table-with-css/ */

table {
    margin: auto;
    background-color: white;
    border: 0.1em solid black;
    color: black;
    box-shadow: 0.1em 0.1em 0 black;
}

td {
    padding: 0.5em;
}

.menu-btn {
  min-width: 50px;
  margin: auto;
  padding: 0.5em;
}

/* Changing cursors: https://www.w3schools.com/cssref/pr_class_cursor.php */
.menu-btn:hover {
    background-color: black;
    color: whitesmoke;
    transition: 0.5s;
    cursor: pointer;
}